@charset "UTF-8";
body{
	width: 1000px;
	margin: 0 auto;
}
.info{
	height: 240px;
}
.resName1 {
	font-size: 40px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.resName2{
	display: inline-block;
	margin-top: 0;
	margin-left: 20px;
}
.score{
	margin-left: 5px;
	display: inline-block;
}
.re > p{
	font-size: 45px;
	margin: 0;
}
.re > h5{
	margin-top: 10px;
	margin-bottom: 10px;
	transform: translateY(-10px);
}
.simIn{
	display: inline-block;
	margin: 5px;
}
.simInT{
	display: inline-block;
	margin: 5px;
}
.menu{
	height: 90px;
	display: flex;
}
.menu > p {
	border-collapse: collapse;
	border: 1px solid black;
	width: 250px;
	height: 100%; 
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 0;
}
.menu > p:hover{
	background-color: #e1cb88;
}
.select{
	height: 350px;
	width: 600px;
	overflow: hidden;
	justify-content: space-evenly;
	display: flex;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container > article {
	display: flex;
	animation: slide 15s ease 3s infinite;
}
@keyframes slide {
	20%{
		transform : translate(-600px);
	}
	40%{
		transform : translate(-1200px);
	}
	60%{
		transform : translate(-1800px);
	}
	80%{
		transform : translate(-2400px);
	}
	100%{
		transform : translate(0px);
	}
}
.container img{
	margin-top: 10px;
	height: 350px;
	width: 600px;
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
}
.detail{	
	height: 600px;
}
.information{
	border-collapse: collapse;
	width: 1000px;
	height: 600px;
}
.information td, .information th{
	border: 1px solid black;
}
.information td{
	padding-left: 5px;
}



